PORT=5000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/kumbhmela?retryWrites=true&w=majority
JWT_SECRET=kumbh_mela_nashik_secret_key_2026_super_secure
CLIENT_URL=http://localhost:5173
NODE_ENV=development
